################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CookieAuth/CopilotIndices/17.14.698.11175
